@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@500&display=swap');

/*Elements the same for all pages*/

body {
    background-color: #626262;
    font-family: 'Oswald', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

#whole_page {
    width: 100%;
}

nav {
    background: #233C4C;
    width: 100%;
    height: 110px;
    border-radius: 30px;
}

nav li a{
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

nav li {
    list-style: none;
    display: block;
    margin: 40px 5px;
    font-size: 20px; 
    float: left;
}

nav li a:hover {
    background-color: #f22222;
    border-radius: 20px;
}

nav img {
    border-radius: 50%;
    float: left;
    margin: 10px;
    width: 100px;
    height: 90px;
}

footer {
    position: absolute; /*Position abosolte and the top/bottom cause the footer to be 92% away from the top and 0px
    away from the bottom. This causes the footer element to always be stuck at the bottom of the pages*/
    top: 92%;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000000;
}

footer p {
    color: gray;
    text-align: center;
    margin-top: 20px;
}

/*Elements for homepage*/ 

article {
   
   width: 100%;
   position: absolute;
   top: 20%;
}

article img {
    width: auto;
    height: auto;
    display: block;
    border-radius: 50%;
    margin: auto;
    border: 5px solid black;
}

article h1,h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 10px;
}

/*Elements for About Me page*/

#middle_image {
    width: 100%;
}

#middle_image img {
    width: 300px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 4px solid black;
}

#left-column {
    width: 50%;
    height: auto;
    float: left;
    /*background-color: #000dff;*/
}

#left-column p,h3{
    text-align: center;
    position: relative;
    top: 30%;
    display: block;
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 15px;
}

#right-column {
    width: 50%;
    float: right;
    /*background-color: #f22222;*/
}

video {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid black;   
    border-radius: 10px;
    background-color: #010326;
    overflow: auto;
}

.clear {
    clear: both;
}

/*Elements for Projects Page*/

#projects_info {
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    text-align: center;
    margin: 40px;
}

header {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 40px;    
}


#projects_info p {
    text-align: center;
}

/*Elements for Contact page */

.box {
    width: 40%;
    height: 500px;
    background-color: #70abc283;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    margin: auto;
    margin-top: 20px;
}

#form {
    text-align: center;
    display: block;
    margin: 0px auto 0px auto;
}

.box input, textarea {
    padding: 10px;
    border-color: #010326;
    margin: 15px auto 0px auto;
    border-radius: 8px;
}

.box h1 {
    padding: 30px;
}

textarea {
    resize: none;
}

#submit {
   
    width: 100px;
}

#submit:hover{
    background: linear-gradient(to bottom, blue 0%,#223841 100%); 
}

/* Color Theme Swatches in Hex */
.Reimbursement-and-Medicare-Cost-Reporting-Boot-Camp-for-Critical-Access-Hospitals-INSTRUCTORS-B-1-hex { color: #233C4C; }
.Reimbursement-and-Medicare-Cost-Reporting-Boot-Camp-for-Critical-Access-Hospitals-INSTRUCTORS-B-2-hex { color: #223841; }
.Reimbursement-and-Medicare-Cost-Reporting-Boot-Camp-for-Critical-Access-Hospitals-INSTRUCTORS-B-3-hex { color: #F4F4F4; }
.Reimbursement-and-Medicare-Cost-Reporting-Boot-Camp-for-Critical-Access-Hospitals-INSTRUCTORS-B-4-hex { color: #A1A6A8; }
.Reimbursement-and-Medicare-Cost-Reporting-Boot-Camp-for-Critical-Access-Hospitals-INSTRUCTORS-B-5-hex { color: #060E12; }








