@charset "UTF-8"; 
body {
    background-color: #274957e7;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

* {
    margin: 0px;
    padding: 0px;
}

#whole_page {
    width: 100%;
    height: 100%;   
}

#nav-banner {
    background: rgb(60, 56, 56);
    width: 100%;
    height: 110px;
}

#nav-banner li a{
    padding: 10px 20px;
    text-decoration: none;
    color: #010326;
}

#nav-banner li {
    list-style: none;
    display: block;
    margin: 40px 5px;
    font-size: 20px; 
    float: left;
}

#nav-banner li a:hover {
    background-color: #f22222;
    border-radius: 20px;
}

#nav-banner img {
    border-radius: 50%;
    float: left;
    margin: 10px;
}

#middle {
   background-color: rgba(7, 75, 75, 0.863);
   width: 100%;
   height: 500px;
}

#middle img {
    width: auto;
    height: auto;
    display: block;
    border-radius: 50%;
    margin: auto;
    border: 5px solid black;
}

#middle h1,h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 10px;
}

#footer {
    width: 100%;
    height: 100%;
    padding: 30px 0px 53px;
    text-align: center;
    background-color: rgb(12, 20, 27);
}

#footer p {
    color: gray;
}


/* Color Theme Swatches in Hex */
.Under-the-Sea-1-hex { color: #010326; }
.Under-the-Sea-2-hex { color: #074259; }
.Under-the-Sea-3-hex { color: #22F2B7; }
.Under-the-Sea-4-hex { color: #65F5E4; }
.Under-the-Sea-5-hex { color: #EAF9F5; }



